# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
#

# Update system admin repository
# FIXME: Need passwordless anon checkout
#50 *	* * *	root    svn co http://www.aifdr.org/svn/system_administration /etc > /var/log/svn_sysadm.log 2> /var/log/svn_sysadm.err

# Dump project repositories regularly
53 *	* * *	root    python /etc/system_administration/revision_control/backup_project.py -a > /var/log/repo_backup.log 2> /var/log/repo_backup.err

# Make monthly list of manually installed software
# Note that the % character is interpreted by crontab as newline so it must be escaped as \%
1 1 1 * * root python /etc/system_administration/statistics/list_manually_installed_packages.py `date --date='last month' +'\%Y\%m\%d'` > /var/log/list_packages.log 2>&1


# --------------------------------------------------------------
# Create regular snapshots of selected filesystems
# Make sure /etc/system_administration has been updated with svn
# --------------------------------------------------------------

# Update latest snapshot every hour
3 * * * * root nice python /etc/system_administration/backup/create_snapshot.py --destination=/external-disk/snapshots --mode=sync /home /etc /var > /var/log/snapshot_sync.lastlog 2>&1

# Make snapshot of backup tree every two hours
33 0-23/2 * * 1-7 root nice python /etc/system_administration/backup/create_snapshot.py --destination=/external-disk/snapshots --mode=tag > /var/log/snapshot_tag.lastlog 2>&1

# Weed-out superfluous snapshots every night 2:43
43 2 * * * root nice python /etc/system_administration/backup/create_snapshot.py --destination=/external-disk/snapshots --mode=weed > /var/log/snapshot_weed.lastlog 2>&1

# Get statistics every morning 5:45
45 5 * * * root nice python /etc/system_administration/backup/create_snapshot.py --destination=/external-disk/snapshots --mode=stat > /var/log/snapshot_stat.lastlog 2>&1

